<h2>Currency converter</h2>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="type">Kurso tipas</label>
      <select
        #type="ngModel"
        [(ngModel)]="selectedExcRateType"
        name="type" 
        id="type" 
        class="form-control">
        <option *ngFor="let excType of excRateTypes$ | async" [value]="excType">
          {{ excType }}
        </option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="date">Data</label>
      <input
        #date="ngModel" 
        name="date"
        [(ngModel)]="todaysDate"
        id="date" 
        type="date" 
        class="form-control">
    </div>
  </div>

  <div class="form-row align-items-center">
    <div class="form-group col-md-1">
      <label for="amount">Suma</label>
      <input
        #amount="ngModel" 
        name="amount"
        [(ngModel)]="userAmount" 
        id="amount" 
        type="text" 
        class="form-control amount-input" 
        placeholder="1"
        required
        pattern="^-?\d+\.?\d*$"
        maxlength="15">
    </div>

    <div class="form-group col-md-1">
      <label for="from">Iš</label>
      <select
        #from="ngModel"
        ngModel="EUR"
        name="from" 
        id="from" 
        class="form-control">
        <option value="EUR" selected>EUR</option>
      </select>
    </div>

    <div class="form-group col-md-1">
      <label for="to">Į</label>
      <select
        #to="ngModel"
        [(ngModel)]="selectedCurrencyCode"
        name="to" 
        id="to" 
        class="form-control">
        <option *ngFor="let code of currencyCodes$ | async" [value]="code">
          {{ code }}
        </option>
      </select>
    </div>
    <div class="form-group col-md-2 align-self-end">
      <button [disabled]="!f.valid" class="btn btn-primary">Konvertuoti</button>
    </div>
  </div>
</form>

<div class="col-md-3 alert alert-danger" *ngIf="amount.touched && amount.invalid">
  Įveskite sumą.
</div>

<div *ngIf="converterView" class="converter-result">
  <p>
    {{converterView.amount + " " + converterView.from}} = {{convertedAmount + " " + converterView.to}}
  </p>
</div>
<div *ngIf="errorMsg" class="converter-result">
  <p>
    {{errorMsg}}
  </p>
</div>