<h2>Currency converter</h2>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="form-inline">

  <div class="form-group">
    <label for="amount" class="my-1 mr-2">Suma</label>
      <input
        #amount="ngModel" 
        name="amount"
        [(ngModel)]="userAmount" 
        id="amount" 
        type="text" 
        class="form-control my-1 mr-sm-2 amount-input" 
        placeholder="1"
        required
        pattern="^-?\d+\.?\d*$"
        maxlength="15">
  </div>

  <div class="form-group">
    <label for="from" class="my-1 mr-2">Iš</label>
      <select
        #from="ngModel"
        ngModel="EUR"
        name="from" 
        id="from" 
        class="form-control my-1 mr-sm-2">
        <option value="EUR" selected>EUR</option>
      </select>
  </div>

  <div class="form-group">
    <label for="to" class="my-1 mr-2">Į</label>
      <select
        #to="ngModel"
        [(ngModel)]="selectedCurrencyCode"
        name="to" 
        id="to" 
        class="form-control my-1 mr-sm-2">
        <option *ngFor="let code of currencyCodes$ | async" [value]="code">
          {{ code }}
        </option>
      </select>
  </div>
  <button [disabled]="!f.valid" class="btn btn-primary my-1">Konvertuoti</button>
</form>

<div class="alert alert-danger" *ngIf="amount.touched && amount.invalid">
  Įveskite sumą.
</div>

<div *ngIf="converterView" class="converter-result">
  <p>
    {{converterView.amount + " " + converterView.from}} = {{convertedAmount + " " + converterView.to}}
  </p>
</div>
<div *ngIf="errorMsg" class="converter-result">
  <p>
    {{errorMsg}}
  </p>
</div>